<ion-header id="user-header"  >
  <ion-navbar>
    <ion-title>资讯</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #container>
  <div class="gap" *ngIf="article?.length > 0"></div>
  <div class="no-content middle" *ngIf="article?.length == 0">
    <img src="../../../assets/images/image_nomore.png"/>
  </div>
  <article-card [content]="content" [articles]="article"></article-card>
  <ion-infinite-scroll (ionInfinite)="doInfiniteForArticle($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
