<ion-header id="user-header"  >
  <ion-navbar>
    <ion-title>我的相册</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #container>
  <div class="gap"></div>
  <ion-grid *ngIf="gallery.length > 0" class="seed-gallery">
    <ion-row>
      <ion-col col-4 *ngFor="let item of gallery;let i = index" >
        <div
          (click)="galleryViewer(i)"
          [offset]="2500"
          [lazyLoad]="item.fileName"
          [defaultImage]="'/assets/images/user_default.png'"
          [errorImage]="'/assets/images/user_default.png'"
          [scrollObservable]="content.ionScroll"
        >
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="no-content middle" *ngIf="gallery.length == 0">
    <img src="../../../assets/images/image_nomore.png"/>
  </div>

  <div class="downApp-seeMore">
    <a href="http://h5.oooseed.com/app/activity/index.html">
      下载app查看更多
    </a>
  </div>
</ion-content>
