<ion-header id="user-header"  >
  <ion-navbar>
    <ion-title>{{states ? '帖子' : '点赞'}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #container>
  <div class="gap" *ngIf="feeds?.length > 0"></div>
  <div class="no-content middle" *ngIf="feeds?.length == 0">
    <img src="../../../assets/images/image_nomore.png"/>
  </div>
  <feed-card *ngIf="feeds" [content]="content" [feeds]="feeds"></feed-card>
  <ion-infinite-scroll (ionInfinite)="doInfiniteForFeed($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
